{% extends "base.html" %}

{% block content %}

<section class="page">
<h1 id="page_title">Profile</h2>

<div class="profile_container"> 
  <button id="buttonStyle" onclick="getAllItems()" >My Items</button>
  <button id="buttonStyle" onclick="getSavedItems()" >Saved</button>
  <button id="buttonStyle" onclick="getSoldItems()" >Sold</button>
</div>

<h1 id="page_title">All Items</h1>

<div class="container" id="saved_items_table">
  {% for item in saved_items %}
    <div class="box">
      <a class="item_page_link" href="{{ url_for('item', item_id = item['id']) }}">
      <img src={{ item['image_url'][0] }}>
      <h4>{{item["item_name"]}}</h4>
      <h5>$ {{item["item_price"]}}</h5>
      <div class="cart">
        <a href="{{ url_for('saveitem', itemid = item['id']) }}"><i class='bx bx-heart' ></i></a>
      </div>
      </a>
    </div>
    {% endfor %}
</div>

<div class="container" id="all_items_table">
  {% for item in items %}
    <div class="box">
      <a class="item_page_link" href="{{ url_for('item', item_id = item['id']) }}">
      <img src={{ item['image_url'][0] }}>
      <h4>{{item["item_name"]}}</h4>
      <h5>$ {{item["item_price"]}}</h5>
      <div class="cart">
        <a href="{{ url_for('saveitem', itemid = item['id']) }}"><i class='bx bx-heart' ></i></a>
      </div>
      </a>
    </div>
    {% endfor %}
</div>

<div class="container" id="sold_items_table">
  {% for item in sold_items %}
    <div class="box">
      <a class="item_page_link" href="{{ url_for('item', item_id = item['id']) }}">
      <img class="item_img_sold" src={{ item['image_url'][0] }}>
      <h4>{{item["item_name"]}}</h4>
      <h5>$ {{item["item_price"]}}</h5>
      <div class="cart">
        <a href="{{ url_for('saveitem', itemid = item['id']) }}"><i class='bx bx-heart' ></i></a>
      </div>
      </a>
    </div>
    {% endfor %}
</div>
</section>

<script>

  var title = document.getElementById("item_title");
  function getSavedItems() {
    var saved = document.getElementById("saved_items_table");
    var all = document.getElementById("all_items_table");
    var sold = document.getElementById("sold_items_table");
    saved.style.display = "grid";
    all.style.display = "none";
    sold.style.display = "none";

    title.textContent = "Items Saved"
  }
  function getAllItems() {
    var saved = document.getElementById("saved_items_table");
    var all = document.getElementById("all_items_table");
    var sold = document.getElementById("sold_items_table")
    
    all.style.display = "grid";
    sold.style.display = "none";
    saved.style.display = "none";

    title.textContent = "All Items"
  }
  function getSoldItems() {
    var saved = document.getElementById("saved_items_table");
    var all = document.getElementById("all_items_table");
    var sold = document.getElementById("sold_items_table")

    sold.style.display = "grid";
    all.style.display = "none";
    saved.style.display = "none";

    title.textContent = "Items Sold"
  }
</script>


{% endblock %}